@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap');

body, html{
    height: 100%;
    background-color: beige;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(150, 150, 115);
}

.Component{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Input{
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    width: 100px;
    height: 100px;
}

.title{
    font-size: 5rem;
    margin: 0;
    margin-bottom: 1rem;
    font-family: 'Gemunu Libre', sans-serif;
}

.binaryCode{
    margin-right: 0.8rem;
    height: 1.5rem;
    border: solid 0.1rem rgb(150, 150, 115);
    border-radius: 0.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(150, 150, 115);
    width: 15rem;
}

::placeholder { 
    color: rgb(150, 150, 115);
    opacity: 1; 
}
  
:-ms-input-placeholder { 
    color: rgb(150, 150, 115);
}
  
::-ms-input-placeholder {
    color: rgb(150, 150, 115);
}

textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

button{
    background-color: transparent;
    border: solid 0.1rem rgb(150, 150, 115);
    border-radius: 0.2rem;
    height: 1.85rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(150, 150, 115);
}

button:hover{
    background-color: rgb(150, 150, 115);
    color: beige;
}